<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @passenger.name %></h1>
    <p>
      You have successfully reserved the voyage № <%= @booking.id %><br>
    </p>

     <p>Voa.</p>

    <p>
      Flight #<%= @booking.flight.id %>: <%= @booking.flight.from_airport.city %> -> 
      <%= @booking.flight.to_airport.city %> on 
      <%= @booking.flight.dep.strftime("%A, %B %d, %Y") %>.
</p>

    <p>Passengers:</p>
    <ol>
    <% @booking.passengers.each do |passenger| %>
     <li> <%="#{passenger.name} <#{passenger.email}>" %></li>
    <% end %>
</ol>
    <p>
      To login to the site, just follow this link: 
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>