

		<h5> Find your voyage </h5>
<%= form_tag("/flights/index", method: "get") do %>
	<%= select_tag :from, options_for_select(@airports),  prompt: "From" %>
	<%= select_tag :to, options_for_select(@airports),  prompt: "To" %>
	<%= submit_tag "Search", class: "btn btn-success" %>
			<% end %>

<% if @flights.nil? %>
<h5>Nothing</h5>>
	<% else %>
			<%= render 'flight-list' %>
<% end %>


		<% @allflights.each do |f| %>
  <h4 class="float-left"><%=f.from_airport.city %></h4> 
  <h4 class="float-left"><%=f.to_airport.city %></h4>  
  <p class="clear"><%= f.dep %></p>
<% end %>
     